<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Messenger for Spotify</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <!-- Favicon -->
    <!-- <link rel="icon" href="icon.png">  -->
</head>
<body>
    <div class="container text-center">
        <!-- <br>
        <img src="https://media3.giphy.com/media/GyKCVW91R83Ek/giphy.gif"> -->
      <h1 style="margin-top: 5%;">Playlist Messenger for Spotify</h1>
      <br>
      <form method="POST">
        <div class="form-group">
          <textarea class="form-control" name="message" id="message" rows="3" placeholder="Your Message" minlength=2 maxlength=100 required style="width: 50%; margin: auto;"></textarea>
        </div>
        <br>
        <button class="btn btn-success btn-lg" type="submit">Create a Playlist</button>
      </form>
      <!-- <h5>Output</h5>   -->
      <!-- <p id="output">{{output}}</p>
      <iframe src="{{link}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
    </div>
</body> 
</html>